In [14]:
%pip install mysql-connector-python
%pip install ipython-sql
%pip install pymysql
import pandas as pd
import mysql.connector as mysqlConnector
from mysql.connector import Error
from sqlalchemy import create_engine
import pymysql

Requirement already satisfied: mysql-connector-python in c:\users\u071574\appdata\local\programs\python\python39\lib\site-packages (8.0.31)
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in c:\users\u071574\appdata\local\programs\python\python39\lib\site-packages (from mysql-connector-python) (3.19.6)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: ipython-sql in c:\users\u071574\appdata\local\programs\python\python39\lib\site-packages (0.4.1)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\u071574\appdata\local\programs\python\python39\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: prettytable<1 in c:\users\u071574\appdata\local\programs\python\python39\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\u071574\appdata\local\programs\python\python39\lib\site-packages (from ipython-sql) (1.4.42)
Requirement already satisfied: sqlparse in c:\users\u071574\appdata\local\programs\python\python39\lib\site-packages (from ipython-sql) (0.4.3)
Requirement already satisfied: six in c:\users\u071574\appdata\local\programs\python\python39\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython>=1.0 in c:\users\u071574\appdata\roaming\python\python39\site-packages (from ipython-sql) (8.6.0)
Requirement already satisfied: pickleshare in c:\users\u071574\appdata\roaming\python\python39\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: jedi>=0.16 in c:\users\u071574\appdata\roaming\python\python39\site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: traitlets>=5 in c:\users\u071574\appdata\roaming\python\python39\site-packages (from ipython>=1.0->ipython-sql) (5.5.0)
Requirement already satisfied: pygments>=2.4.0 in c:\users\u071574\appdata\roaming\python\python39\site-packages (from ipython>=1.0->ipython-sql) (2.13.0)
Requirement already satisfied: decorator in c:\users\u071574\appdata\roaming\python\python39\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: prompt-toolkit<3.1.0,>3.0.1 in c:\users\u071574\appdata\roaming\python\python39\site-packages (from ipython>=1.0->ipython-sql) (3.0.31)
Requirement already satisfied: backcall in c:\users\u071574\appdata\roaming\python\python39\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in c:\users\u071574\appdata\roaming\python\python39\site-packages (from ipython>=1.0->ipython-sql) (0.1.6)
Requirement already satisfied: colorama in c:\users\u071574\appdata\roaming\python\python39\site-packages (from ipython>=1.0->ipython-sql) (0.4.6)
Requirement already satisfied: stack-data in c:\users\u071574\appdata\roaming\python\python39\site-packages (from ipython>=1.0->ipython-sql) (0.6.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\u071574\appdata\local\programs\python\python39\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (2.0.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\u071574\appdata\roaming\python\python39\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\u071574\appdata\roaming\python\python39\site-packages (from prompt-toolkit<3.1.0,>3.0.1->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\u071574\appdata\roaming\python\python39\site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.1.0)
Requirement already satisfied: pure-eval in c:\users\u071574\appdata\roaming\python\python39\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)
Requirement already satisfied: executing>=1.2.0 in c:\users\u071574\appdata\roaming\python\python39\site-packages (from stack-data->ipython>=1.0->ipython-sql) (1.2.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: pymysql in c:\users\u071574\appdata\local\programs\python\python39\lib\site-packages (1.0.2)
Note: you may need to restart the kernel to use updated packages.

In [50]:
connection = create_engine("mysql+pymysql://" + 'dc' + ":" + '123456' + "@" + 'localhost' + "/" + 'databasecourse')
%load_ext sql
%sql mysql://dc:123456@localhost/databasecourse
# CENSUS_DATA
data = pd.read_csv('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2022-01-01')
data.columns = [x.strip().replace(' ', '_').lower() for x in data.columns]
data.to_sql("census_data",connection, if_exists='replace', index=False,method='multi')
# PUBLIC_SCHOOL
data = pd.read_csv('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2022-01-01')
data.columns = [x.strip().replace(' ', '_').lower() for x in data.columns]
data.to_sql("chicago_public_schools",connection, if_exists='replace', index=False,method='multi')
# CRIME_DATA
data = pd.read_csv('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2022-01-01')
data.columns = [x.strip().replace(' ', '_').lower() for x in data.columns]
data.to_sql("chicago_crime_data",connection, if_exists='replace', index=False,method='multi')

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [59]:
%sql select count(*) from chicago_crime_data;

 * mysql://dc:***@localhost/databasecourse
1 rows affected.

[(533,)]

In [60]:
%sql select community_area_name from census_data where per_capita_income < 11000;

 * mysql://dc:***@localhost/databasecourse
4 rows affected.

[('West Garfield Park',),
 ('South Lawndale',),
 ('Fuller Park',),
 ('Riverdale',)]

In [61]:
%sql SELECT DISTINCT CASE_NUMBER FROM CHICAGO_CRIME_DATA WHERE DESCRIPTION LIKE '%MINOR%'

 * mysql://dc:***@localhost/databasecourse
2 rows affected.

[('HL266884',), ('HK238408',)]

In [62]:
%sql SELECT DISTINCT CASE_NUMBER, PRIMARY_TYPE, DATE, DESCRIPTION FROM CHICAGO_CRIME_DATA WHERE PRIMARY_TYPE='KIDNAPPING'

 * mysql://dc:***@localhost/databasecourse
1 rows affected.

[('HN144152', 'KIDNAPPING', '2007-01-26', 'CHILD ABDUCTION/STRANGER')]

In [88]:
%sql SELECT DISTINCT(PRIMARY_TYPE), LOCATION_DESCRIPTION FROM CHICAGO_CRIME_DATA WHERE LOCATION_DESCRIPTION LIKE '%SCHOOL%'

 * mysql://dc:***@localhost/databasecourse
9 rows affected.

[('BATTERY', 'SCHOOL, PUBLIC, GROUNDS'),
 ('BATTERY', 'SCHOOL, PUBLIC, BUILDING'),
 ('CRIMINAL DAMAGE', 'SCHOOL, PUBLIC, GROUNDS'),
 ('NARCOTICS', 'SCHOOL, PUBLIC, GROUNDS'),
 ('NARCOTICS', 'SCHOOL, PUBLIC, BUILDING'),
 ('ASSAULT', 'SCHOOL, PUBLIC, GROUNDS'),
 ('CRIMINAL TRESPASS', 'SCHOOL, PUBLIC, GROUNDS'),
 ('PUBLIC PEACE VIOLATION', 'SCHOOL, PRIVATE, BUILDING'),
 ('PUBLIC PEACE VIOLATION', 'SCHOOL, PUBLIC, BUILDING')]

In [80]:
%%sql 
select `Elementary,_middle,_or_high_school`,AVG(SAFETY_SCORE) AVERAGE_SAFETY_SCORE FROM CHICAGO_PUBLIC_SCHOOLS GROUP BY `Elementary,_middle,_or_high_school`

 * mysql://dc:***@localhost/databasecourse
3 rows affected.

[('ES', 49.52038369304557), ('HS', 49.62352941176471), ('MS', 48.0)]

In [81]:
%sql SELECT COMMUNITY_AREA_NAME, PERCENT_HOUSEHOLDS_BELOW_POVERTY FROM CENSUS_DATA ORDER BY PERCENT_HOUSEHOLDS_BELOW_POVERTY DESC LIMIT 5 ;

 * mysql://dc:***@localhost/databasecourse
5 rows affected.

[('Riverdale', 56.5),
 ('Fuller Park', 51.2),
 ('Englewood', 46.6),
 ('North Lawndale', 43.1),
 ('East Garfield Park', 42.4)]

In [82]:
%%sql
SELECT COMMUNITY_AREA_NUMBER ,COUNT(COMMUNITY_AREA_NUMBER) AS FREQUENCY
FROM CHICAGO_CRIME_DATA 
GROUP BY COMMUNITY_AREA_NUMBER
ORDER BY COUNT(COMMUNITY_AREA_NUMBER) DESC
LIMIT 1;

 * mysql://dc:***@localhost/databasecourse
1 rows affected.

[(25.0, 43)]

In [83]:
%sql SELECT COMMUNITY_AREA_NAME FROM  CENSUS_DATA WHERE HARDSHIP_INDEX = (SELECT MAX(HARDSHIP_INDEX) FROM CENSUS_DATA);

 * mysql://dc:***@localhost/databasecourse
1 rows affected.

[('Riverdale',)]

In [84]:
%%sql
SELECT community_area_name FROM CENSUS_DATA 
WHERE COMMUNITY_AREA_NUMBER = (SELECT COMMUNITY_AREA_NUMBER FROM CHICAGO_CRIME_DATA 
    GROUP BY COMMUNITY_AREA_NUMBER
    ORDER BY COUNT(COMMUNITY_AREA_NUMBER) DESC
    LIMIT 1)
LIMIT 1;

 * mysql://dc:***@localhost/databasecourse
1 rows affected.

[('Austin',)]